.artist img {
    height: 125px;
    width: 125px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.artist a {
    text-decoration: none;
    color: #000;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 19%;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: white;
    opacity: 0;
}
.pagination {
    text-align: center!important;
    margin-left: 40%;
}
.artist:hover .overlay {
    opacity: 0.8;
}
.artist .overlay a {
    text-decoration: none;
    color: #000 !important;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 260px;
}
form.form-inline .form-control {
    display: block;
    width: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffff;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 button.btn {
    min-width: 52px !important;
    height: auto !important;
    border-radius: 0 !important;
    padding: 0 !important;
    line-height: 36px !important;
    font-size: 19px !important;
}
.col-md-2 {
    margin: 20px 0;
}