ul.nav.nav-tabs li {
    width: 20% ;
}
ul.nav.nav-tabs li a {
    font-size: 15px !important;
    color: white;
}
.nav-link.tabss {
    width:33.333%;
    text-align: center;
    color: white;
}
.col-md-4.mb-3 img {
    height: 165px;
    padding-left: 7px;
    margin-bottom: -23px;
}
.choose1 {
    border: 2px solid;
    position: fixed;
    bottom: 10px;
    z-index: 9999999;
    background: white;
    width: 77%;
}
.artistdetail11.mb-5 button.btn.btn-warning.text-left {
    background: #8080804f;
}
.col-md-4.mb-3.play1:hover .overlayplay1 {
  opacity: 1;
}
.artistdetail11.mb-5 button {
    float: none !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
}

.showoffer {
    cursor: pointer;
}
.overlayplay1 h2 {
    padding-top: 48px;
}
.overlayplay1 {
    position: absolute;
    top: 0;

    right: 0px;
    height: 100%;
    background: rgb(245 243 243 / 51%) !important;
    color: #f1f1f1;
    width: 41%;
    opacity: 0;
    z-index: 999999999;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.col-md-4.text-right .btn.btn-primary {
    margin-top: -244px;
    border-radius: 50%;
}
.checkall input {
    height: 20px;
    width: 20px;
}
.checkall {
   position: absolute;
    top: 1px;
    z-index: 999;
    right: 10px;

}
.tab-content {

    padding-top: 25px;
    padding-left: 17px;
 
}
h5.select_list.active {
    color: red;
}
.modal-open .modal{
    z-index: 9999999 !important;
}
.hide{
    display: none;
}
.block{
    display: block;
}
.artistvideo {
    border: 2px dashed red;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
}
.artistaudio {
    border: 2px dashed red;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
}
.artistoffer1 {
    border: 2px dashed red;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}