 
  .owl-carousel {
    display: block !important;
}

.addTowishlist, .library {
    background-color: #a60000;
    border: 2px solid #a60000;
    color: #fff;
    padding: 5px;
    
    margin-right:10px;

}
.pricevideo {
    position: absolute;
    top: 38px;
    padding: 5px;
    background: black;
    color: white;
    font-weight: 700;
    left: 15px;
}
.timevideo {
    position: absolute;
    top: 38px;
    right: -206px;
    background: black;
    padding: 5px;
    font-weight: 700;
    color: white;
}
h5.select_list.active {
    color: red;
}
.main-mistree-circle .profileImage {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 75px;
    color: #fff;
    left: 29%;
    top: 15px;
    text-align: center;
    line-height: 116px;
    margin-right: 14px;
    position: relative;
    margin-top: 4px;
}

   .main-mistree {
   margin-top: -22px;
}
.videoprice {
    position: absolute;
    background: #010001;
    padding: 8px;
    top: 24px;
    color: white;
    font-weight: 700;
   left: 17px;
}
.audioprice {
    background: #010001;
    padding: 8px;
   
    color: white;
    font-weight: 700;
   left: 17px;
}
.choose1 {
    text-align: center;
    background: white;
    border: 1px solid red;
    position: fixed;
    z-index: 99999999999999;
    color: black;
    bottom: 10px;
    width: 60%;
    right: 39px;
    padding: 0px !important;
}
.checkall input {
    height: 20px;
    width: 20px;
}
.checkall {
    position: absolute;
    top: 1px;
    right: 2px;
}
.are {
    float: left;
    margin-right: 10px;
}
.videotime {
    position: absolute;
    right: 40px;
    padding: 8px;
    font-weight: 700;
    background: #010001;
    color: white;
    top: 24px;
}
.audiotime {
    position: absolute;
    right: 40px;
    padding: 8px;
    font-weight: 700;
    background: #010001;
    color: white;
    top: 24px;
}
.search.content .form-control {
    float: left;
    width: 70%;
}
.newest form select#cars {
    width: 200px !important;
}
.sortby {
    margin-top: -11px;

}
.modal{

bottom: 80px !important;
}
button.close.off {
    margin-top: -3px;
    font-size: 31px;
}
button.iconsearch {
    padding: 4px;
    background: deepskyblue;
    border: 2px solid cornflowerblue;
    color: white;
    margin-left: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.Playlist1 {
    border: 2px solid;
    padding: 20px;
}
button.addNow {
    padding: 5px;
    background: #a60000;
    color: white;
    border-radius: 8px;
    border: 2px solid #a60000;
    font-size: 16px;
}
.bardot {
    font-size: 16px;
    padding: 4px;
    color: white;
    border: 2px solid #36b1ea;
    background: #36b1ea;
}
.camera {
    display: flex;
    position: absolute;
    left: 0;
}
.itemsel {
    border: 2px solid;
    padding: 6px;
}

/*--------------------slider css------------------------*/
