
.sec-video-area {
    text-align: center;
}

.navbar-nav i.fa {
    padding: 0px 5px;
    font-size: 25px;
}

.carousel-control-prev {
    left: 24% !important;
}

.main-mistree-circle {
    width: 100%;
    text-align: center;
}


.main-mistree-circle img {
    width: 165px;
    height: 165px;
    border-radius: 50%;
}

.misstress.kelly {
    text-align: center;
}

.carousel {
   
    text-align: center;
}

iframe {
    margin: 9px;
}

.clip-icon {
    text-align: center;
}

.misstress.kelly h3 {
    color: #732ae8;
    font-size: 34px;
    margin-top: 12px;
}

i.fa.fa-play {
    color: #fff;
    font-size: 30px;
}

.clip-icon {
    text-align: center;
    background-color: #732ae8;
    padding: 15px;
    margin-top: 40px;
}

.clip-icon p {
    color: #fff;
}

.main-mistree {
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

.main-mistree {
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    padding-top: 30px;
    padding-bottom: 30px;
}



.clips-social1 i.fa.fa {
    margin-right: 9px;
    font-size: 22px;
    color: #732ae8;
}

.clips-social1 {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #000;
}

.clips-social1 {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #000;
    margin-top: 16px;
}

.clips-social1 p {
    font-size: 18px;
}

.feel.my-shoe h3 {
    color: #de7171;
    font-weight: 300;
}

.feel.my-shoe h3 {
    color: #de7171;
    font-weight: 300;
   
}

.feel.my-shoe {
    padding-left: 20px;
}

.feel.my-shoe p {
    padding-top: 40px;
    font-size: 20px;
}

.sec-video-area h3 {
    padding: 30px;
}

.sub-feel.my {
    display: flex;
    justify-content: space-between;
}

.add.to.cart {
    display: flex;
    flex-direction: row-reverse;
}

.price-btn a p {
    padding: 0px !important;
}

.price-btn {
    border: 2px solid #000;
    padding-left: 9px;
    padding-right: 8px;
    border-right: none;
}

.price-btn {
    border: 2px solid #36B1EA;
    padding-left: 9px;
    padding-right: 8px;
    border-right: none;
    color: #36B1EA;
}
.price-btn a p {
    margin-bottom: 0;
	color: #36B1EA;
}

.add.to.cart button {
    background-color: #36b1ea;
    border-color: #36b1ea;
    border: 2px solid #36b1ea;
    color: #fff;
}

.feel.my-shoe {
    padding-left: 20px;
    padding-right: 20px;
}

.rope.bondag p {
    font-size: 19px;
}

.result {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.rope.bondag p {
    margin-bottom: 0;
}

.rope.bondag {
    margin-top: 58px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid#0000001c;
    padding-top: 15px;
    border-bottom: 1px solid #0000001c;
    padding-bottom: 14px;
}

.my.content {
    display: flex;
}

.my.content h3 {
    font-weight: 400;
    margin-right: 15px;
}

.my.content p {
    padding-left: 10px;
    font-weight: bold;
    background-color: #36b1ea;
    color: #fff;
    border-radius: 19px;
    padding-right: 15px;
    margin-top: 6px;
}

.search.content {
    margin-top: 20px;
}

.search.content {
    display: flex;
}

.search.content label {
    margin-left: 50px;
}

.search.content select#cars {
    width: 300px;
}

.sortby {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

i.fa.fa-filter {
    font-size: 20px;
    margin-right: 9px;
}

.sortby p {
    font-size: 17px;
}

.newest form select#cars {
    width: 150px !important;
}

.main-video-search.content {
    width: 100%;
   
    padding-right: 20px;
}

.videos2 {
    width: 25%;
}

.main-video-search.content {
    display: flex;
}

.videos2 p {
    font-size: 17px;
    margin-bottom: 0;
    padding-left: 9px;
}

.videos2 p span {
    color: #36b1ea;
    font-size: 16px;
}

.video-icon {
    display: flex;
    justify-content: space-between;
}

i.fa.fa-video-camera {
    padding-top: 5px;
}

.camera {
    display: flex;
}
.camera p {
    
    padding-left: 3px;
}
.main-video-search.content {
    width: 100%;
    padding-left: 8px;
    padding-right: 20px;
	margin-top: 20px;
}

.videos2 {
    width: 24%;
    margin: 10px;
    margin: 0 auto;
    margin-right: 14px;
}
.camera {
    display: flex;
    position: absolute;
    right: -5px;
}

.video-icon {
    position: relative;
}

/*
section.mistress-sec {
    position: relative;
}

.main-mistree-sec1 {
    position: absolute !important;
    top: -83px;
}*/

.carousel-control-next {
   
    right: 20%;
}

.sec-video-area {
    
    margin-left: 328px;
    color: #36b1ea;
}