body{

    background:black;

  	}
 h3.tittle {
    color: white;
}
    tr:nth-child(even) {
    background-color: #fff;
    color: black;
}
.user-body i {
    padding-right: 21px;
    color: green;
    float: left;
}
.col-md-4.artistprofilehome:hover {
    border: 2px solid goldenrod;
}
.audiohome:hover {
    border: 2px solid yellow;

}
h1.text-center.text-uppercase.comimg1 {
    margin-top: -24px;
}
.user1 {
    box-shadow: 1px 1px 6px 1px #0000003d;
}
.user-body {
    padding: 14px;
    background: white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.user-head.text-center {
    padding: 13px;
    background: #bf0000;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}
.user-head.text-center.text-white h3 {
    color: white;
    padding-top: 12px;
    font-size: 28px;
}

 button.btn.btn-primary a {
    color: white;
}

.owl-carousel{
  display: block !important;
}
.user-body p {
    font-size: 20px;
    padding-top: 12px;

}
.pricetime .text-left h6 {
    font-weight: bold;
    color: gold !important;
    background: black;
    font-family: sans-serif;
    padding: 6px;
    font-size: 15px;
}

.pricetime .text-left {
    float: left;
    padding-left: 4px;
}
.pricetime .text-right h6 {
    background: black;
    padding: 10px;
    font-weight: bold !important;
}
.col-md-4.hover h5 {
    float: left;
    width: 100%;
}
.pricetime .text-right {

    float: right;
    margin-right: 4px;
}
.col-md-12.text-center button:hover {
    background: #bf0000 !important;
    border: 2px solid #bf0000 !important;
}
button.btn.btn-primary.partner_col:hover {
     background: #bf0000 !important;
    border: 2px solid #bf0000 !important;
}
.slider__item .card-title {
    margin-bottom: -2.25rem;
}

.text-center.header-text {
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}
.PAZ.text-center.header-text {
    color: white;
    font-weight: 700;
    margin-top: -10px;
}
.user1-body.col-md-12 {
    background: white;
    color: white;
    padding-bottom: 12px;
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
}
.user1-head.text-center {

    background: #bf0000;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}
.user1-head.text-center.text-white.col-md-12 h3 {
    color: white;
    padding-top: 10px;
   font-size: 28px;
}
.modal-dialog {
    margin-top: 18% !important;
  }
.modal{
        background: #7b0000;
  }
.artist_image img {
    padding: 12px;
}
