ul.nav.nav-tabs li {
    width: 20% !important;
}
ul.nav.nav-tabs li a {
    font-size: 15px !important;
    color: white;
}
.nav-tabs .nav-link.active {
    color: #333333;
    border-color: #fafafa !important;
}
.nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus {
    border-color: #fafafa !important;
}
input.select_media_pic {
    margin: 5px;
}
.nav-link.tabss {
    width: 33.33%;
    text-align: center;
    color: white;
}
.coverimg img {
    object-fit: fill;
}
.profileimg {
    position: absolute;
  
    margin-top: -167px;
}
.profileimg img {
border-radius: 50%;
border: 3px solid white;
}
.artistdetail11.mb-5 {
    margin-left: 14%;
    padding-top: 11px;
}
.col-md-4.mb-3 img {
    height: 165px;
    padding-left: 7px;
    margin-bottom: -23px;
}
.coverimg .iconcamera i{
 display:none;
}
.nav-tabs {
    border-bottom: 1px solid #fff;
    background: #7b0000;
    border-top: 1px solid #fff;
}
.coverimg .iconcamera i{
    position: absolute;
    right: 15px;
    display:block;
    color: #746a6a;
    margin-top: -30px;
    background: #ffffff99;
    height: 30px;
    width: 80px;
    text-align: center;
    padding: 6px;
}
.profileimg .iconcamera i{
  display:none;
}
button.btn.btn-warning.text-white.mr-3.mt-2 {
    height: 36px !important;
    background-color: #ffbb11 !important;
}
.profileimg .iconcamera i{
  position: absolute;
    color: #746a6a;
    display: block;
    background: #ffffff99;
    left: 69px;
    margin-top: -28px;
    height: 23px;
    text-align: center;
    width: 57px;
    padding: 4px;
}
.col-md-4.mb-3.play1:hover .overlayplay1 {
  opacity: 1;
}
.cover {
    position: absolute;
    left: 50%;
    top: 22% !important;
    transform: translate(-50%,-50%) !important;
}

.overlayplay1 {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    background: rgb(245 243 243 / 51%) !important;
    color: #f1f1f1;
    width: 41%;
    opacity: 0;
    z-index: 999999999;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.col-md-4.text-right .btn.btn-primary {
    margin-top: -244px;
}

.artistvideo {
    border: 2px dashed red;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
}
.artistaudio {
    border: 2px dashed red;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
}
.artistoffer1 {
    border: 2px dashed red;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {

.profileimg .iconcamera i{
    position: absolute;
      color: #746a6a;
      display: block;
      background: #ffffff99;
      left: 88px;
      height: 23px;
      text-align: center;
      width: 57px;
      padding: 4px;
  }
  .coverimg .iconcamera i{
    position: absolute;
    right: 15px;
    display:block;
    color: #746a6a;
    margin-top: -30px;
    background: #ffffff99;
    height: 30px;
    width: 80px;
    text-align: center;
    padding: 6px;
}
}